body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.calc{
    width: 400px;
    margin:auto;
    background-color: black;
}
.answers{
    display: flex;
    height: 8rem;
    color: white;
    font-size: 400%;
    font-weight: 100;
    justify-content: flex-end;
    align-items: end;
}
.keyboard{
    color:black;

}
button{
    font-size: 1rem;
    margin:0;
    padding:0;
    width: 98px;
    height:100px;
    border: none;
    background-color: rgb(209, 208, 208);
    transition: 0.3s;
}
button:hover{
    background-color: rgb(243, 241, 241);
    font-size: 1.3rem;
    transition: 0.3s;
}
.zero{
    width: 198px;
}
table{
    border-collapse: collapse;
}
.diffcolor{
    background-color: rgb(226, 150, 7);
    color:white;
}
.diffcolor:hover{
    background-color: rgb(211, 158, 58);
    color:black;
}
@media only screen and (max-width:1000px){
    .calc{
        width:100%;
        height: auto;
    }
    .answers{
        height: 14.5vh;
    }
    button{
        font-size: 2rem;
       width: 24.4vw;
       height: 16.7vh;
    }
    button:hover{
        
        font-size: 2.3rem;
        
    }
    .zero{
        width: 49vw;
    }
}